= render(Header::Component.new(title: "Complément d'adresse", backpath: "root_path")) do
  . Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid obcaecati ipsa in suscipit! Harum, alias veniam. Itaque recusandae doloremque quasi porro ipsum laborum voluptate? Deserunt illo tempora laboriosam explicabo dicta.
