= render(Header::Component.new(title: "Complément d'adresse", backpath: "root_path")) do
  = simple_form_for @location, data: {controller: "address-autocomplete", address_autocomplete_api_key_value: Rails.application.credentials.mapbox_api_key} do |f|
    = f.hidden_field :address, data: { address_autocomplete_target: "address" }
    = f.submit "C'est parti!"
