= render(Header::Component.new(title: "Complément d'adresse", backpath: "root_path")) do
  = simple_form_for @location do |f|
    = f.input :address, label: "Addresse", placeholder: "Addresse"
    = f.submit "C'est parti!", class: "btn btn-primary"
